.score-board{
	border:5px solid red;
	float:left;
}

.player-row{
	border: 2px solid green;
	clear: both;
	float:left;
}
.player-name{
	float:left;
	min-width:80px;
	min-height: 80px;
}

.score-frame{
	float:left;
	border:  2px solid black;
	margin: 1px;
	min-width: 80px;
	min-height: 80px;
}

.top-row-score{
}

.ball-1{
	display:inline-block;
	font-size: 200%;
}
.ball-2{
	display:inline-block;
	float: right;
	font-size: 200%;
}

.bottom-row-score{
}

.total-score{
	text-align: right;
	font-size: 200%;
}	

