.score-board{
	border:5px solid red;
	width: 800px;
}

.player-row{
	height: 80;
	border: 2px solid green;
}

.score-frame{
	display:inline-block;
	border:  2px solid black;
	width: 9%;
	height: 95%;
}

.top-row-score{
	height: 45%;
}

.ball-1{
	display:inline-block;
	font-size: 200%;
}
.ball-2{
	display:inline-block;
	float: right;
	font-size: 200%;
}

.bottom-row-score{
	height: 45%;
}

.total-score{
	text-align: right;
	font-size: 200%;
}	

